@using TPCTrainco.Umbraco.Extensions.Helpers
@inherits UmbracoTemplatePage
@{
    // Model.Content is the current page that we're on
    // AncestorsOrSelf is all of the ancestors this page has in the tree
    // (1) means: go up to level 1 and stop looking for more ancestors when you get there
    // First() gets the first ancestor found (the home page, on level 1)
    IPublishedContent siteSettings = Nodes.Instance.SiteSettings;
    IEnumerable<IPublishedContent> socialLinks = Nodes.Instance.SocialLinks;

    string copyrightText = siteSettings.GetPropertyValue<string>("copyrightText");

    var homePage = CurrentPage.AncestorsOrSelf(1).First();

    // The menu items we want are all of the children of the homepage
    // We also check if "Hide in navigation" is on in the menu, we shouldn't show hidden items
    IEnumerable<IPublishedContent> menuItems = homePage.Children.Where("navigationBottom == true");
}
<div class="newsletter-box">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>NEWSLETTER</h3>
                @Umbraco.RenderMacro("FormsRenderForm", new { FormGuid = "275c4253-1f01-41fd-a45d-9c8b6cb00c75" })
            </div>
        </div>
    </div>
</div>
<div class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="/assets/images/logo-tpc-training_300x.png" alt="TCPTrainco Logo" id="logo" />
            </div>
        </div>
        <div class="row">

            <div class="col-md-4 links">

                <ul class="footer-text-links">
                    @{
                        int i = 0;
                        int navCount = menuItems.Count();

                        foreach (IPublishedContent item in menuItems.OrderBy("SortOrder"))
                        {
                            i++;

                            <li><a href="@item.Url" @(item.GetPropertyValue<bool>("navigationNewWindow") ? " target=\"_blank\"" : "")>@(item.GetPropertyValue<string>("navigationTitle", item.Name))@(Html.Raw(i != navCount ? "" : ""))</a></li>
                        }
                    }
                </ul>
            </div>
            <div class="col-md-4">
                <h3>FOLLOW US</h3>
                <ul class="social">
                    @foreach (IPublishedContent social in socialLinks)
                    {
                        <li>
                            <a href="@(social.GetPropertyValue<string>("socialLink"))" class="regular-link" target="_blank">
                                @(Html.Raw(social.GetPropertyValue<string>("svgHtml")))
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <div class="col-md-4 newsletter-col">
                <h3>NEWSLETTER</h3>
                @Umbraco.RenderMacro("FormsRenderForm", new { FormGuid = "275c4253-1f01-41fd-a45d-9c8b6cb00c75" })
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery(window).scroll(function () {
        var header_h = jQuery('.header-box').height();
        var scroll = jQuery(window).scrollTop();
        if (scroll >= header_h) {
            //jQuery('#MainWrapper').css({'padding-top': header_h});
            jQuery('.primary-menu.two').css({ 'position': 'fixed', 'top': '0px', 'width': '100%', 'z-index': '9' });
            jQuery('.navbar-lower.affix').css({ 'position': 'fixed', 'top': '50px', 'z-index': '3' });
        } else {
            //jQuery('#MainWrapper').css({'padding-top': 0});
            jQuery('.primary-menu.two').css({ 'position': 'relative' });
            jQuery('.navbar-lower.affix').css({ 'position': 'relative', 'top': '0px' });
        }
    });
    jQuery(window).scroll(function () {
        var header_h = jQuery('.header-box').height();
        var scroll = jQuery(window).scrollTop();
        if (scroll >= header_h) {
            //jQuery('#MainWrapper').css({'padding-top': header_h});
            jQuery('.primary-menu-mobile').css({ 'position': 'fixed' });
            jQuery('.register-cart-wrap').css({ 'position': 'fixed' });
            jQuery('.register-cart-wrap').css({ 'top': '50px' });
        } else {
            //jQuery('#MainWrapper').css({'padding-top': 0});
            jQuery('.primary-menu-mobile').css({ 'position': 'relative' });
            jQuery('.register-cart-wrap').css({ 'position': 'relative' });
            jQuery('.register-cart-wrap').css({ 'top': '0px' });
        }
    });
    jQuery(window).load(function () {
        var window_h = jQuery(window).height();
        var navbar_h = jQuery('.navbar-header').height();
        var author_h = jQuery('#authbar').height();
        var total_top_h = navbar_h + author_h - 2;
        jQuery('.primary-menu-mobile .nav.navbar-nav').css({ 'min-height': window_h - total_top_h});
    });
    
    jQuery(document).on('click', '.dropdown-toggle', function () {
        var a = jQuery(this).parent('li').hasClass('open');
        if (a == 'true') {
            jQuery(this).parent('li').addClass('open');
        } else {
            jQuery('this').parent('li').removeClass('open');
        }


    });
    jQuery(document).on('click', '.navbar-toggle ', function () {
        jQuery('html,body').toggleClass('overflow-hidden');
        


    });
</script>

<footer>
    <ul class="wrapper text-center">
        <li class="copyright">
            <p>© TPC Training</p>
            <p>© Copyright 2018 TPC Training. All Rights Reserved.</p>
        </li>

    </ul>
</footer>
