@using TPCTrainco.Umbraco.Extensions.Helpers
@inherits UmbracoTemplatePage
@{
    // Model.Content is the current page that we're on
    // AncestorsOrSelf is all of the ancestors this page has in the tree
    // (1) means: go up to level 1 and stop looking for more ancestors when you get there
    // First() gets the first ancestor found (the home page, on level 1)
    IPublishedContent siteSettings = Nodes.Instance.SiteSettings;
    IPublishedContent homePage = CurrentPage.AncestorsOrSelf(1).First();

    IPublishedContent searchSeminarNode = Nodes.Instance.SeminarSearch;

    // The menu items we want are all of the children of the homepage
    // We also check if "Hide in navigation" is on in the menu, we shouldn't show hidden items
    dynamic menuItems = null;
    Dictionary<string, string> dtContent = new Dictionary<string, string>();
    Dictionary<string, string> dtMobileContent = new Dictionary<string, string>();
    if (homePage != null && homePage.Children != null)
    {
        menuItems = homePage.Children.Where("navigationTop == true").OrderBy("SortOrder");

        //Dictionary<string, string> dtContent = new Dictionary<string, string> { { "live training", "" }, { "online training", "" }, { "performance support", "" }, { "assessment", "" }, {"about",""}, { "contact", "" } };
        IPublishedContent menuContainer = homePage.Children(x => x.DocumentTypeAlias == "MegaMenuContainer").FirstOrDefault();
        if (menuContainer != null)
        {
            List<IPublishedContent> contents = menuContainer.Children(x => x.DocumentTypeAlias == "MegaMenuContent").ToList();
            foreach (var content in contents)
            {
                if (!content.HasProperty("parentMenu") || !content.HasProperty("pageContent") || !content.HasProperty("mobileContent"))
                {
                    continue;
                }
                string parent = content.GetPropertyValue("parentMenu").ToString();
                if (string.IsNullOrEmpty(parent) || dtContent.ContainsKey(parent))
                {
                    continue;
                }
                dtContent[parent] = content.GetPropertyValue("pageContent").ToString();
                if (dtMobileContent.ContainsKey(parent))
                {
                    continue;
                }
                dtMobileContent[parent] = content.GetPropertyValue("mobileContent").ToString();
            }
        }
    }
}

<div class="header-box">
    <div id="authbar" ng-controller="AuthbarController as vm">
        <div class="container-fluid contain">
            <div ng-if="!vm.isLoggedIn">
                <ul class="inline-list">
                    <li>
                        <a class="authbar-link" href="/dashboard/login">LIVE TRAINING ACCOUNT LOGIN</a>
                    </li>

                </ul>
            </div>
            <div ng-if="vm.isLoggedIn" ng-cloak>
                <ul class="inline-list">
                    <li ng-cloak>
                        Welcome, <strong>{{vm.user.firstName}} {{vm.user.lastName}}</strong>
                    </li>
                    <li>
                        <a class="authbar-link" href="/dashboard/saved">My account</a>
                    </li>
                    <li>
                        <a class="authbar-link" href="/logout" ng-click="vm.logout()">Logout</a>
                    </li>

                </ul>
            </div>

        </div>
    </div>
    <!-- mobile nav -->
    <nav class="navbar navbar-default bg-white primary-menu-mobile visible-xs visible-sm hidden-lg hidden-md ">
        <div class="container-fluid bg-white">
            <div class="navbar-header">
                
                <div class="pull-right mobile-cart-top cart-box">
                    <!-- <a class="authbar-link" href="/search-seminars?cart=1" title="">
                        <span class="cart-icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                     </a> -->
                     <a class="authbar-link" href="/search-seminars?cart=1" title=""><img ng-if="!vm.isCartOpened" src="/assets/images/icon-cart-black.png" class="cart-img-cart ng-scope"> </a>
                </div>
                <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo">
                    TCPTrainco
                    <a class="navbar-brand" href="/"><img src="/assets/images/logo-trainco-1x.png" alt="TCPTrainco Logo" id="logo" /></a>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav one pull-right">
                    @foreach (var menuItem in dtMobileContent)
                    {
                        @Html.Raw(HttpUtility.HtmlDecode(menuItem.Value))
                    }


                    <li class="dropdown register-link-xs">
                        <a href="register/" class="dropdown-toggle regular-link nav-link main-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Register</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <h2 class="gheader__mnav__subnav__group__title">Register now</h2>
                                <p>If you would like to register with TPC Trainco <a href="search-seminars/" title="live.tpctraining.com/search-seminars/">click here</a> or contact us on <a href="tel:+18779877246">877 987 7246</a></p>

                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="/public-seminars/" class="dropdown-toggle regular-link nav-link main-link" data-toggle="dropdown">Websites</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="nav-link regular-link">Select site:</a>
                                <ul class="site-links-xs" aria-labelledby="dropdownMenuButton">
                                    <li><a class="nav-link regular-link" href="http://tpctraining.com"><i class="fa fa-circle blue-color" aria-hidden="true"></i> Online Training</a></li>
                                    <li>
                                        <a class="nav-link regular-link" href="http://live.tpctraining.com"><i class="fa fa-circle red-color" aria-hidden="true"></i> Live Training</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!-- mobile nav end -->
    <nav class="navbar navbar-default bg-white hidden-xs hidden-sm">
        <div class="container-fluid contain">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo">
                    TCPTrainco
                    <a class="navbar-brand" href="/"><img src="/assets/images/logo-trainco-1x.png" alt="TCPTrainco Logo" id="logo" /></a>
                </div>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav one pull-right">
                    <li>
                        <span>For public seminars</span>
                        <a href="@(searchSeminarNode.Url)" class="btn-reg" role="button">Register Now</a>
                    </li>
                    <li>
                        Or Call <a href="tel:@(siteSettings.GetPropertyValue<string>("phoneNumber"))" class="no-header">@(siteSettings.GetPropertyValue<string>("phoneNumber"))</a>
                    </li>
                    <li class="site-links">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span>Select site:</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="http://tpctraining.com"><i class="fa fa-circle blue-color" aria-hidden="true"></i> Online Training</a>
                                <a class="dropdown-item" href="http://live.tpctraining.com"><i class="fa fa-circle red-color" aria-hidden="true"></i> Live Training</a>
                            </div>
                        </div>
                    </li>
                    <li>
                      <div class="cart-box">
                        <span class="cart-text">YOUR CART</span>
                        <a class="authbar-link" href="/search-seminars?cart=1" title=""><img ng-if="!vm.isCartOpened" src="/assets/images/icon-cart-black.png" class="cart-img-cart ng-scope"> </a>

                       <!--  <a class="authbar-link" href="/search-seminars?cart=1" title=""><span class="cart-icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a> -->
                      </div>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>


<nav class="navbar navbar-inverse no-margin primary-menu two">
    <div class="container-fluid no-padding">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse js-navbar-collapse no-padding">
            @if (dtContent.Count > 0)
            {
                <ul class="mega-menu nav navbar-nav">
                    @foreach (var menuItem in dtContent)
                    {
                        <li class="mega-menu-item dropdown mega-dropdown">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@menuItem.Key</a>
                            <div class="content dropdown-menu mega-dropdown-menu">@Html.Raw(HttpUtility.HtmlDecode(menuItem.Value))</div>
                        </li>
                    }
                </ul>
            }
        </div>
    </div>
</nav>